@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  color: rgb(0, 0, 0);
}

.scroll-smooth {
  scroll-behavior: smooth;
}

/* Estilos para a seção pai e todas as classes filhas */
.meu-container-fluid-personalizado,
.meu-container-fluid-personalizado * {
  color: rgb(255, 255, 255);
  padding: 10px;
}

.meu-container-fluid-personalizado p {
  text-align: left;
}
.background-dark {
  background-color: black;
  color: white;
}

.custom-background,
.custom-background * {
  background-color: rgb(243, 242, 243);
  padding: 2px;
}

.meu-container-personalizado {
  padding: 100px; /* Ajuste conforme necessário */
}
.minha-classe-personalizada {
  padding: 100px; /* Ajuste conforme necessário */
}

/* Estilos para a home = Tamanho do texto pequeno */
.text-small {
  font-size: 20px;
}

/* Tamanho do texto médio */
.text-medium {
  font-size: 20px;
}

/* Tamanho do texto grande */
.text-large {
  font-size: 60px;
  font-weight: 600;
}

.icone-fluid {
  font-size: 25px;
  color: white;
}

.conteudo-caixa {
  text-align: left;
  color: white;
}

.titulo-projeto {
  font-size: 18px; /* ou o tamanho desejado */
  margin-bottom: 8px; /* ou o espaçamento desejado abaixo do título */
}
.meu-caixa-personalizado {
  width: 250px; /* ou o tamanho desejado */
  margin: 2px; /* ou o espaçamento desejado */
  transition: background-color 0.3s;
}

.meu-caixa-personalizado:hover {
  background-color: #2b2929;
}

/* Estilo para Timeline */
.main-timeline {
  font-family: "Poppins", sans-serif;
}
.main-timeline:after {
  content: "";
  display: block;
  clear: both;
}
.main-timeline .timeline {
  width: calc(50% + 58px);
  border-top: 2px solid #404247;
  float: left;
  position: relative;
  z-index: 1;
}
.main-timeline .timeline:before {
  content: "";
  background: #404247;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  position: absolute;
  top: -5px;
  right: 0;
}
.main-timeline .timeline-content {
  color: #404247;
  text-align: center;
  padding: 15px 80px 15px 10px;
  display: block;
  position: relative;
  text-decoration: none;
}
.main-timeline .timeline-content:hover {
  text-decoration: none;
}
.main-timeline .timeline-content:before {
  content: "";
  background: #00a6f9;
  width: 15px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 50px;
}
.main-timeline .timeline-year {
  font-size: 35px;
  line-height: 35px;
  font-weight: 700;
  transform: translateY(-50%) rotate(90deg);
  position: absolute;
  top: 50%;
  right: -15px;
}
.main-timeline .title {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0 0 8px;
}
.main-timeline .description {
  font-size: 16px;
  margin: 0;
}
.main-timeline .timeline:nth-child(even) {
  float: right;
}
.main-timeline .timeline:nth-child(even):before {
  right: auto;
  left: 0;
}
.main-timeline .timeline:nth-child(even) .timeline-content {
  padding: 15px 10px 15px 80px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:before {
  right: auto;
  left: 51px;
}
.main-timeline .timeline:nth-child(even) .timeline-year {
  right: auto;
  left: -15px;
}
.main-timeline .timeline:nth-child(4n + 2) .timeline-content:before {
  background: #ff3e7c;
}
.main-timeline .timeline:nth-child(4n + 3) .timeline-content:before {
  background: #7438be;
}
.main-timeline .timeline:nth-child(4n + 4) .timeline-content:before {
  background: #bdc203;
}
@media screen and (max-width: 767px) {
  .main-timeline .timeline {
    width: 100%;
  }
}

/* Estilo para Timeline */
